// Typography

$font-family-serif: 'Playfair Display', serif;

// Colours

$color-black: black;
$color-blue: #215CFF;
$color-blue-dark: #0038CC;
$color-red: red;
$color-orange: orange;
$color-white: white;

// grid

$unit: 1em;