<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/styles.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/static/images/favicon.ico">

  </head>

  <body>
    
    {{ content }}

    <footer class="mt++ pv+ tc">
      <div class="wrapper">
        <p class="m0 fz-">
          &copy; Michele Memoli. All rights reserved. 2015
        </p>
      </div>
    </footer>
    
    {% include analytics.html %}

    <script src="{{ site.baseurl }}/static/bundle.js"></script>
  </body>
</html>
