---
layout: default
---

<article>
    <header class="pv++ tc">

        <p class="db fz-">
            <a href="">&lt;</a>
            3/20
            <a href="">&gt;</a>
        </p>

        <div class="wrapper">
            <h1>{{ page.title }}</h1>
        
            <span class="h6 fsi">
                {{ page.date | date: "%B %e, %Y" }}
            </span>
        </div>
    </header>

    <div class="wrapper">
        <div class="grid grid-align-center">
            <div class="grid-item 1/1 md-2/3 lg-1/2 tc">
                {{ content }}
            </div>
        </div>
    </div>
    
    {% include disqus.html %}
</article>
